<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="form1.Properties.Settings.studentConnectionString"
            connectionString="Data Source=|DataDirectory|\student.sdf;Password=pooja123@"
            providerName="Microsoft.SqlServerCe.Client.3.5" />
    </connectionStrings>
</configuration>